#clockContainer{
    position:relative;
     margin:auto;
height:40vw;
width:40vw;
background:url(clock2.jpg) no-repeat;
background-size:100%;
}

#hour, #minute, #second{
    position:absolute;
    background:black;
    border-radius:10px;
    transform-origin: bottom;
}
#hour{
    height: 20%;
    width: 1.4%;
    top: 29%;
    left: 49.7%;
    opacity: 0.8;
    
}
    
#minute{
    height: 33%;
    width: 1.2%;
    top: 16.8%;
    left: 49.7%;
    opacity: 0.8;
    
}
    

#second{
    height: 34%;
    width: 1%;
    top: 15.9%;
    left: 49.9%;
    opacity: 0.8;
    
}
